* {
    margin:0px;
    padding:0;
    box-sizing:border-box;
    line-height: 1.4159265359;
}
body {
    background-color: #0a489f;
    text-align: center;
    line-height: 2.1;
    font-size: larger;
}
.hero img {
    border-radius: 50%;
    margin-top:30px;
    padding-bottom: 20px;
}

.accent {
    color: cornflowerblue;
}
body, footer {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

@media screen and (max-width:768px) {
    body {
        background-color: cornflowerblue;
    }
}

.grid {
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
    gap: 20px;
    flex-wrap: wrap;
}

.grid div {
    background-color:darkslateblue;
    border-radius: 100px;
    padding: 2px;
    min-width:100px;
}
.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-direction: row-reverse;
}

/* Navbar active link color to match testimonial button hover color */
.navbar-nav .nav-link.active {
  color: #0f1e2e !important;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #2b3035; /* or set your preferred background */
  text-align: center;
  padding: 1rem 0;
  z-index: 1000; /* makes sure it stays on top */
}

#greeting {
  color: white !important;
}

.navbar-nav .nav-link.active {
  color: white !important;
}
